@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Arial", sans-serif;
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ff5722;
  margin-bottom: 1.5rem;
  text-align: center;
}

.mb-4 {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.space-x-4 {
  gap: 1rem;
}

button {
  background-color: #ff5722;
  color: #ffffff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

button:hover {
  background-color: #e64a19;
}

input[type="number"] {
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #333;
  border-radius: 0.375rem;
  font-size: 1rem;
  width: 100%;
  background-color: #1e1e1e;
  color: #ffffff;
}

input[type="number"]:focus {
  border-color: #ff5722;
  outline: none;
}

table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
}

th,
td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #333;
}

th {
  background-color: #212121;
  font-weight: 600;
  color: #ff5722;
}

tr:hover {
  background-color: #333;
}

td {
  color: #ffffff;
}

.cursor-pointer {
  cursor: pointer;
}

th svg {
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .space-x-4 {
    flex-direction: column;
    gap: 0.5rem;
  }

  table {
    font-size: 0.875rem;
  }

  th,
  td {
    padding: 0.75rem;
  }
}
